{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>Document</title>
</head>
<body>
    <h1>Напишіть нам</h1>
    <form method="post">
        {% csrf_token %}
        <p><textarea name="message" id="" cols="50" rows="10" placeholder="Напишіть повідомлення"></textarea></p>
        <p>
            <input type="text" name="name" placeholder="Введіть ваше ім'я">
            <input type="email" name="email" placeholder="Впишіть ваш емейл адрес">
        </p>
        <h3>{{ error }}</h3>
        <p><input type="submit" value="Надіслати"></p>
    </form>
</body>
</html>